<title>Project Coffee</title>
	<body>
		<h1>People Action Form</h1>
		<h2>Select Action</h2>
		    <!-- Page Options -->
	    <div>
          <a class="button" href="./hire_forms/new"><br>New Hire</a>
          <a class="button" href="#"><br>Change</a>
          <a class="button" href="#"><br>Term</a>
        </div>
	</body>
